<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
		<servlet-name>CMSServlet</servlet-name>
		<servlet-class>com.dconsult.cms.CMSServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CMSServlet</servlet-name>
		<url-pattern>/cms</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CRMServlet</servlet-name>
		<servlet-class>com.dconsult.crm.CRMServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CRMServlet</servlet-name>
		<url-pattern>/crm</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ECScan</servlet-name>
		<servlet-class>com.dconsult.ecscan.ECScan</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ECScan</servlet-name>
		<url-pattern>/ecscan</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Donsultsite</servlet-name>
		<servlet-class>com.dconsult.DonsultsiteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Donsultsite</servlet-name>
		<url-pattern>/donsultsite</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
